body{
    font-family: 'Roboto', sans-serif;
   }

img
{
    max-width: 100%;
    height: auto;
    display: block;
}
      
a{
    text-decoration: none;
    color:#ffffff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
   }

.textStart
{
    text-align: center;
    padding-top: 64px;
}
h2 {
    font-size: 64px;
    line-height: 75px;
    margin-top:64px;
}

.Header
{
    background-image: url("/img/container_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #707070;
    height: 958px;    
    display: flex;
    justify-content: center;
    
    color:#ffffff;
    font-weight: bold;
    h2
    {
        font-size:24px;
        line-height: 42px;
    }
    .title
    {
        max-width: 320px;
        margin-top:356px;
        font-size:24px;
        line-height: 42px;
    }
    .subtitle
    {
        font-size:80px;
        line-height: 94px;
    }
    .text 
    {
        line-height: 36px;
        margin-top: 32px;
    }
    .icon 
    {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
    }

}

.About
{
    
    height:991px;
    display: flex;
    justify-content: center;
    padding-bottom: 56px;
    .content{
        width:414px;
        color:#000000;
        font-size: 24px;
        line-height:36px;
       
    } 
    h2{
        
        font-size: 64px;
        line-height: 75px;

        font-weight: bold;
    }    
    img{
        margin-top:40px;
    }
    .profile
    {
        margin-top:24px;
        text-align: center;
        padding-bottom: 24px;
        border-bottom: 1px solid #000;
        font-weight: bold;
    }
    .information
    {
        
        font-weight: bold;
        text-align: center;
        
        li
        {
            padding-top: 32px;
            
        }
        li::before {
            content: "ã€€";
            width: 22px;
            height: 22px;
            background-color: #891818;
            border-radius: 50%;
         
          }    
    }
    
}

.Brand 
{
    margin-top: 56px;
    background-color: #000000;
    height: 1405px;
    color:#FFFFFF;
    text-align: center;
    margin: auto;

    h3 
    {
        margin-top:16px;
        font-size: 24px;
        line-height: 42px;
    }
    p 
    {
        margin-top:32px;
        font-size: 20px;
        line-height: 30px;
        
    }
    .pic 
    {
       padding-top: 68px;
       display:inline-block; 
       margin: auto;
    }
    .Brand-Pic 
    {
        margin-top:40px;
        display:flex;
        justify-content: space-between;
    }
}

.OtherWork
{
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
    color:#000000;
    padding-bottom: 160px;
    .flexWork
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    p 
    {
        margin-top:32px;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 56px;
    }

}

.footer_Contact
{
    background-color: #000000;
    height: 317px;
    color: #ffffff;
    text-align: center;
    h2 
    {
        margin-top:0px;
        padding-top: 64px;
    }
    li
    {
            padding-top: 16px;
    }
}